#div1 {
    /* background-color: red; */
    width: 405px;
    height: 576px;
    margin-left: auto;
    margin-right: auto;
    
}

#t1 {
    margin-left: auto;
    margin-right: auto;
}

#t1, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
    align-content: center;
    width: 30px;
    height: 10px;
    table-layout: fixed;
    padding: 35px;
    font-size: 28;
    text-align: center;
}

#br0 {
    text-align: center;
}

#result1 {
    text-align: right;
    width: 405px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    font-size: 28;
} 

td:hover {
    background-color: rgb(207, 200, 170);
}






/* #button1, #button2, #button3, #button4 {
    padding: 30px;
    border: 1px solid black;
    align-content: center;
} */
/* #result1 {
    align-content: right;
    width: 357px;
    height: 50px;
    border: 1px solid black;
    font-size: 24;
} */