#greska1, #greska2, #greska3, #greska4 {
    color: red;
    font-size: 18px;
    font-weight: bold;
    /* text-align: right; */
    margin-left: 80px;

}

#dugme1, #dugme2 {
    color: blue;
    margin-left: 80px;
    width: 170px;
    height: 30px;
    border: 1px solid rgb(8, 8, 8);
}

#v1, #v2, #v3, #v4 {
    background: rgb(241, 214, 125);
    block-size: 25px;
    border: 1px solid black;
    width: 170px;
    height: 30px;
    margin-left: 2px;

}

#res1, #res2 {
    font: 18;
    margin-left: 23px;
    text-align: center;
    width: 170px;
    height: 30px;
}

#div0 {
    display: flex;
}

#div1, #div2 {
    text-align: left;
    margin-top: 15px;

}

#div2 {
    margin-left: 10px;
}

/* body {
    background: rgb(118, 196, 87);
} */

/* #v2 {
    margin: auto;
    width: 173px;
    border: 2px solid red;
    padding: 10px;
    
} */

/* #div1 {
    position: relative;
    width: 700px;
    height: 75px;
    border: 1px solid red;
} */
