<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8bcfcb">  <td>18/10/18 22:49:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateAccount.setUp()[pri:0, instance:TheNinjaStore_Tests.CreateAccount@6a41eaa2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>18/10/18 22:49:42</td>   <td>63</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAccount.CreateAccountTest()[pri:0, instance:TheNinjaStore_Tests.CreateAccount@6a41eaa2]">CreateAccountTest</td> 
  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>18/10/18 22:49:51</td>   <td>8942</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateAccount.tearDown()[pri:0, instance:TheNinjaStore_Tests.CreateAccount@6a41eaa2]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>18/10/18 22:49:52</td>   <td>10072</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FirstTest.setUp()[pri:0, instance:MyStore_Tests.FirstTest@7cd62f43]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>18/10/18 22:49:52</td>   <td>10073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTest.start()[pri:0, instance:MyStore_Tests.FirstTest@7cd62f43]">start</td> 
  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>18/10/18 22:50:37</td>   <td>54451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FirstTest.tearDown()[pri:0, instance:MyStore_Tests.FirstTest@7cd62f43]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>18/10/18 22:50:37</td>   <td>55099</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;firstTest.setUp()[pri:0, instance:TheNinjaStore_Tests.firstTest@6d4b1c02]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>18/10/18 22:50:37</td>   <td>55100</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="firstTest.firstTest()[pri:0, instance:TheNinjaStore_Tests.firstTest@6d4b1c02]">firstTest</td> 
  <td>main@1899073220</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>18/10/18 22:51:07</td>   <td>85283</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;firstTest.tearDown()[pri:0, instance:TheNinjaStore_Tests.firstTest@6d4b1c02]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1899073220</td>   <td></td> </tr>
</table>
